body {
  font-family: sans-serif;
  font-size: 16px;
  color: ;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
}
.main-text {
  padding: 2em;
  border: none;
  margin: auto;
}
header {
  color: #ffffff;
  background-color: #45cef7;
  padding: 2em;
  border: none;
  margin: 1em 1em 0em 1em;
  width: 100%;
}
h1 {
  font-size: 32px;
  color: #ffffff;
  border: /*width  style color*/
}
nav.top {
  background-color: #efefef;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  width: 100%;
}
.nav-link {
  color: #494949;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
}
blockquote {
  font: 22px, sans-serif;
  color: #7ed9e6;
  margin-top: 10em;
  margin-bottom: 10em;
  margin-left: 8em;
  padding-left: 2em;
  border-left: 2em;
  width: 25%;
}
.center-large {
  text-align: center;
}
aside {
  float: right;
  padding: 2em;
  border: none;
  margin: .5em;
  width: 25%;
  position: relative;
}
p {
  font-size: 16px;
}
.important {
    font-style: italic;
}
h2 {
  font-size: 24px;
  color: ;
}
h3 {
  font-size: 20px;
  color: ;
}
img {
  border-style: ;
  border-color: ;
  border-width: ;
  width: ;
  margin: ;
  padding: ;
}
a:link {
  color: #7ed9e6;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
}
 a:visited {
   color: ;
 }
  a:hover {
  color: ;
}
  a:active {
  color: ;
}
footer {
  background-color: #494949;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  width: 100%;
}
.footer-link {
  color: #ffffff;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
}
footer.bottom {
  background-color: #494949;
}
