body {
  font-family: "Helvetica";
  font-size: 1em;
  color: #494949;
  padding: 1em;
  border: none;
  margin: .25em;
  width: 75%;
}

header {
  color: #ffffff;
  background-color: #2c9ab7;
  padding: 2em;
  border: none;
  margin: 1em 1em 0em 1em;
  width: 100%;
}

h1 {
  font-size: 4em;
  text-align: left;
  color: #ffffff;
  padding: .25em .25em 0 0;
  border: none;
  margin: .25em .25em 0 0;
}

.important {
  font-size: 1.75em;
  font-style: italic;
  text-align: left;
  padding: 0 .25em .25em 0;
  border: none;
  margin: .25em .25em .25em 0;
}

.header-img {
  width: 100%;
  opacity: .7;
}

nav.top {
  background-color: #ebebeb;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  width: 100%;
}

.nav-link {
  color: #494949;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
}
p {
  font-size: 1em;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: .5em;
  border: none;
  margin: .5em;
}

h3 {
  clear: left;
  font-size: 2em;
  text-align: center;
  padding: .5em;
  border: none;
  margin: .5em;
}
a:link {
  text-decoration: none;
  color: #2c9ab7;
}

a:visited {
  color: #1F6B80;
}
.sweet-thing {
  width: 90%;
}

.squirt {
  width: 90%;
}

.mittens {
  width: 90%;
}

.profile-1 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}

.profile-2 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}

.profile-3 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}

footer {
  background-color: #494949;
  font: #ffffff;
  font-size: .5em;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #ffffff;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
}

footer.bottom {
  background-color: #393939;
}

.footer-img {
  image-orientation: center;
  width: 25%;
}

.white-text {
  color: #ffffff;
}
