body {
  font-family: "Helvetica";
  font-size: 1em;
  color: #494949;
  padding: 1em;
  border: none;
  margin: .25em;
  width: 75%;
}

.border-box {
  box-sizing: border-box;
}

.main-text {
  padding: 1em;
  border: none;
  margin: .5em;
}

.intro {
  padding: 1em;
  border: none;
  margin: .5em;
}

header {
  color: #ffffff;
  background-color: #257F98;
  padding: 2em;
  border: none;
  margin: 1em 1em 0em 1em;
  width: 100%;
}

h1 {
  font-size: 4em;
  color: #ffffff;
  padding: .25em .25em 0 0;
  border: none;
  margin: .25em .25em 0 0;
}

h2 {
  font-size: 2em;
  padding: .25em .25em .25em 0;
  border: none;
  margin: .25em .25em 0 0;
}

h3 {
  clear: left;
  font-size: 1.5em;
  text-align: center;
  padding: .5em;
  border: none;
  margin: .5em;
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.important {
  font-weight: 300;
  font-style: italic;
}

nav.top {
  background-color: #ebebeb;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  width: 100%;
}

.nav-link {
  color: #494949;
  padding: .5em;
  margin: 1em;
  text-decoration: none;
  text-align: center;
}

blockquote {
  font-family: "Helvetica";
  font-size: 1.5em;
  color: #257F98;
  margin: 1.5em;
  padding-left: 1em;
  border-left: 1em;
  width: 75%;
}


aside {
  padding: .25em;
  margin: .5em;
  float: right;
  padding: .5em;
  width: 25%;
  text-align: left;
}

/*.news-cats {
  padding: .5em;
  border: none;
  margin: .5em;
}*/ 

img {
  display: block;
  margin: auto;
  width: 25%;
}

.cat-picture {
  width: 90%;
}

p {
  font-size: 1em;
}

a:link {
  text-decoration: none;
  color: #257f98;
  padding: .25em;
  margin: .5em;
}

a:visited {
  color: #1A576B;
}

footer {
  background-color: #494949;
  color: #ffffff;
  font-size: .5em;
  padding: 2em;
  border: none;
  margin: 0em 1em 1em 1em;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #ffffff;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  text-align: center;
}


.footer-img {
  display: block;
  margin: auto;
  width: 25%;
  }

.white-text {
  color: #ffffff;
}

.story-headline {
  font-size: 1.25em;
  text-align: left;
}

.header-img {
  width: 100%;
  opacity: .7;
}

.sweet-thing {
  width: 90%;
}

.squirt {
  width: 90%;
}

.mittens {
  width: 90%;
}

.profile-1 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}

.profile-2 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}

.profile-3 {
  padding: .5em;
  border: none;
  margin: .5em;
  width: 30%;
  float: left;
  text-align: center;
}
